@import "tailwindcss";

@theme {
  --radius: 0.5rem;
}

@layer base {
  :root {
    --background: 204 20% 98%;
    --foreground: 205.1 100% 9%;
    --card: 204 20% 98%;
    --card-foreground: 205.1 100% 9%;
    --popover: 204 20% 98%;
    --popover-foreground: 205.1 100% 9%;
    --primary: 209.7 90.2% 48.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 212 20% 96.5%;
    --secondary-foreground: 205.1 100% 9%;
    --muted: 212 20% 96.5%;
    --muted-foreground: 205.7 30% 40.8%;
    --accent: 28 80% 50%;
    --accent-foreground: 205.1 100% 9%;
    --destructive: 0 72.2% 50.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 212 20% 89.8%;
    --input: 212 20% 89.8%;
    --ring: 209.7 90.2% 48.4%;
  }

  .dark {
    --background: 205.1 100% 9%;
    --foreground: 210 20% 98%;
    --card: 205.1 100% 9%;
    --card-foreground: 210 20% 98%;
    --popover: 205.1 100% 9%;
    --popover-foreground: 210 20% 98%;
    --primary: 209.7 90.2% 48.4%;
    --primary-foreground: 210 20% 98%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 28 80% 50%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 209.7 90.2% 48.4%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-family: var(--font-sans), sans-serif;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

::-webkit-scrollbar-track {
  background: hsl(var(--secondary));
}

::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary) / 0.5);
  border-radius: 6px;
  border: 3px solid hsl(var(--secondary));
}

.dark::-webkit-scrollbar-thumb {
  background-color: hsl(var(--primary) / 0.7);
}

/* Custom font styles */
.font-headline {
  font-family: var(--font-lexend), sans-serif;
}

.font-body {
  font-family: var(--font-sans), sans-serif;
}

@layer base {
  @keyframes bounce-slow {
    from, to {
      transform: translateY(-15%);
      animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
    }
    50% {
      transform: translateY(0);
      animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
    }
  }
}
